<!doctype html>
<html>

<head>
    <title>Nexus</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/application.css">
</head>

<body>

<div id="ThreeJS"></div>

<!-- TODO

Get camera easing to work - DONE


Get player model rotation to work
    pick a new shape, orient and rotate it properly
    get it to look at specific nodes on left or right keyboard keys

Get camera orientation and move by keyboard working
    camera should stay "behind" player
    forwards shold move to the node its looking at and camera should follow

Get additional boundary generation working
    be able to move forever in one direction
    by makeing a bunch of nodes surrounding the thing
    

Get additional entitites working
    other nexons

Get movement easing working

Get "combat" working
    move to a node with another entity and press space or something to kill




 -->

<!-- Utilities -->
<script src="/js/underscore.js"></script>
<script src="/js/color.js"></script>

<!-- Three libraries -->
<script src="/js/three.js"></script>
<script src="/js/threex.keyboardstate.js"></script>
<script src="/js/threex.windowresize.js"></script>
<script src="/js/threex.fullscreen.js"></script>
<script src="/js/OrbitControls.js"></script>

<!-- My Code -->
<script src="/js/nexus_engine.js"></script>
<script src="/js/nexus_drawing.js"></script>
<script src="/js/nexus_data.js"></script>
<script src="/js/nexus.js"></script>


</body>

</html>

