body{
    font-family: 'Open Sans', sans-serif;
}

#twitter-bar{
    position: fixed;
    right:52%;
    bottom: 10%;
}

#twitter-btn{
    text-decoration: none;
}

.twitter-btn-active{

}

#twitter-count{
    font-size:80px;
    color: #e7e7e7;
    display: inline-block;
    position: absolute;
    bottom:-16px;
    left: 60px;
}